@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: black;
}

/* HEADER */

.header {
  display: flex;
  padding: 10px 20px;
  background-color: #fffbf3;
  border-bottom: solid 2px black;
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 5px 10px;
}

.header .active {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.header .active:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  border: solid 0.1px black;
}

.header-nav a:hover {
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

.header img {
  width: 80px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin-left: 5%;
}

.header-nav ul li {
  margin: 30px;
}

/* CONTENT */

.content-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.content-container .content-background {
  height: 85vh;
  position: relative;
  filter: grayscale(100%);
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.content-container .info {
  position: absolute;
  top: 20vh;
  left: 55vw;
  width: 600px;
  height: 600px;
}

.content-down {
  position: relative;
  color: white;
  width: 80vw;
  margin-top: -250px;
  margin-left: auto;
  border-bottom: 3px white solid;
  border-left: 3px white solid;
  border-bottom-left-radius: 50px;
  text-align: center;
}

.content-down::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transform: translateX(-55%);
}

.content-down p {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
  margin: 0;
  padding: 150px 0 60px 60px;
}

.blank {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}

.blank a {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 60px;
  padding: 30px 10px;
  width: 200px;
  border-radius: 40px;
  position: relative;
}

.blank a::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: -10px;
  bottom: -10px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.blank a:hover {
  transform: scale(1.1);
}

.animated-banner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.animated-banner h5 {
  background-color: black;
  text-transform: uppercase;
  margin: 60px 210px;
  color: white;
  font-size: 40px;
}

.animated-banner .banner {
  margin: 0 auto;
  width: 100%;
  transform: translateX(-90%);
  transition: transform 1s ease;
}

.animated-banner .banner.active {
  transform: translateX(0);
}

/* FOOTER */

.footer {
  width: 100vw;
  background-color: black;
}

.footer .sponsors {
  width: 100vw;
  transform: scale(0);
  transition: transform 1.5s ease;
}

.footer .sponsors.show {
  transform: scale(1);
}

.footer h3 {
  font-weight: 600;
}

.footer .final-banner {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}

.footer .contact {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer .contact small {
  margin: 20px 0;
  line-height: 20px;
  text-align: justify;
}

.footer .final-banner .social-media {
  color: white;
}

.footer .final-banner .social-media ul {
  width: 80%;
  list-style: none;
  display: flex;
  padding: 0;
}

.footer .final-banner .social-media li img {
  width: 40px;
}

.footer .final-banner .social-media li img:hover {
  border-radius: 50%;
  background-color: #b5b5b5;
  filter: invert(100%);
}

.footer .final-banner .premier img {
  width: 200px;
}

.footer .final-banner .logo-dio img {
  width: 230px;
}
